* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
body {
  background: #07080a;
}
section {
  padding: 50px 0;
  border-radius: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Philosopher', sans-serif;
  margin: 20px 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.center {
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  margin-bottom: 25px;
}
.btn {
  cursor: pointer;
  outline: none;
  border: 3px solid #7d80d3;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  transition: 0.2s linear;
}
.btn:hover {
  background: #7d80d3;
  border-color: #313250;
}
.input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 3px solid #7d80d3;
  outline: none;
  background: none;
  font-size: 14px;
  transition: 0.2s linear;
  padding-left: 10px;
}
.input:focus {
  border-color: white;
}
.input::placeholder {
  color: white;
}
.textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
  resize: none;
  border: 3px solid #7d80d3;
  outline: none;
  background: none;
  font-size: 14px;
  transition: 0.2s linear;
}
.textarea:focus {
  border-color: white;
}
.textarea::placeholder {
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -500;
}
.overlay.active {
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
@media (max-width: 700px) {
  .header_left .menu_btn {
    display: flex;
  }
  .header_logo {
    display: none;
  }
  .header_right .nav {
    display: none;
  }
}
@media (max-width: 900px) {
  .container {
    padding: 0 5px;
  }
  .block_works .work_col {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .block_stages .stages_col {
    width: 100%;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .block_works .work_col img {
    width: 75%;
  }
  .block_contacts .contact_col {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 400px) {
  #formContact .block_input-firstName,
  #formContact .block_input-lastName {
    width: 100%;
  }
}
.sitebar {
  position: fixed;
  top: 0;
  left: -255px;
  width: 250px;
  height: 100%;
  background: #313250;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 15px #313250;
  transition: 0.25s linear;
  z-index: -1000;
}
.sitebar.open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.sitebar_title {
  border-bottom: 1px solid white;
  text-align: center;
}
.sitebar_title img {
  max-height: 60px;
  width: auto;
}
.sitebar_nav {
  padding: 20px 0;
}
.sitebar_nav ul li {
  list-style: none;
  padding: 15px 20px;
  font-weight: 600;
  width: 100%;
}
.sitebar_nav ul li:hover,
.sitebar_nav ul li:focus {
  background: #7d80d3;
}
.header {
  background: #313250;
  box-shadow: 0 0 5px #7d80d3;
}
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 450;
  width: 1200px;
  max-width: 100%;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
}
.nav_link {
  margin: 0 10px;
  padding: 0 5px 5px 5px;
  font-family: 'Philosopher', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: 0.2s linear;
}
.nav_link:hover {
  border-color: #7d80d3;
}
.menu_btn {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
.menu_btn:hover {
  background: #7d80d3;
}
.menu_item,
.menu_item:before,
.menu_item:after {
  content: "";
  background: white;
  height: 3px;
  width: 35px;
  border-radius: 15px;
  position: absolute;
}
.menu_item:before {
  top: 10px;
}
.menu_item:after {
  top: -10px;
}
.intro {
  background: url(../img/bg/bg.png) no-repeat black;
  padding: 100px 0;
}
.intro_btn {
  margin-top: 50px;
  text-align: center;
}
.stages {
  background: #313250;
  box-shadow: 0 0 5px #313250;
}
.block_stages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.stages_col {
  width: 30%;
  text-align: center;
  padding: 0 10px;
}
.stages_title {
  color: #7d80d3;
}
.works {
  background: #1a1a1a;
  box-shadow: 0 0 5px #1a1a1a;
}
.block_works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.work_col {
  width: 25%;
  text-align: center;
}
.work_col img {
  width: 200px;
  height: auto;
  box-shadow: 1px 1px 20px black;
  border-radius: 5px;
  overflow: hidden;
}
.block_contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.contact_col {
  text-align: center;
  width: 45%;
}
.contact_form_inner {
  display: flex;
  justify-content: center;
}
#formContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}
.block_input-firstName,
.block_input-lastName {
  width: 45%;
  margin-bottom: 25px;
}
.block_input-email,
.block_textarea-comment {
  width: 100%;
  margin-bottom: 25px;
}
.block_submit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.log {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer_inner {
  border-top: 1px solid #313250;
}
.footer_text {
  margin: 20px 0;
}
